<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <title>tmate</title>
    <style>
      body { background-color: #272B30; color: #C8C8C8; }
      body > #app-container > p.loading { margin: auto; margin-top: 100px; width: 200px; }
    </style>
  </head>

  <body>
    <div id="app-container"><%= @inner %></div>
    <%= if Application.get_env(:tmate, :rollbar)[:environment] == :prod do %>
      <script><%= {:safe, render("_rollbar.js")} %></script>
    <%= end %>
    <script src="<%= static_url(@conn, "/js/index.js") %>"></script>
  </body>
</html>
