.session-status h3 {
  text-align: center;
}

.session span.win-id {
  color: #666;
}

.session {
  margin: 5px auto;
}

.session .nav-tabs {
  margin-bottom: 0;
}

.session .nav-tabs > li > a {
  padding: 3px 6px 3px 6px;
}

.window {
  position: relative;
  margin-bottom: 8px;
}

.pane_container {
  position: absolute;
}

.pane_container.active {
  box-shadow: rgba(255, 255, 255, 0.40) 0 0px 7px;
}

.terminal {
  overflow: hidden;
  border-radius: 3px;
  padding: 4px 1px; /* XXX change the session.js terminal_padding_size */
  box-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

.ssh-cstr {
  margin-top: 1em;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 12px;
  line-height: 14px;
  display: block;
  text-align: center;
}

.faq {
  margin-top: 1em;
  text-align: center;
  color: #666;
  font-size: 10px;
}
